In [1]:
from openpyxl_datautils import CellRange, load_workbook
import openpyxl
import pandas as pd
import numpy as np

## Test reading merged cell
Values only appear in the first cell for merged cells. This is expected behavior and openpyxl provides additional support for merged cells if this is needed.

In [2]:
workbook = openpyxl.load_workbook(r'.\workbooks\merge_example.xlsx', read_only=True, data_only=True)

In [3]:
worksheet = workbook['Sheet1']

In [7]:
CellRange.from_sheet(worksheet).create_df(has_headers=False)

,L,M,N,O
15,Random List of Holidays - Test Read of Merged ...,None,None,None
16,None,None,None,None
17,Holiday,Target Date,Weekday,None
18,Labor Day,2021-09-06 00:00:00,Monday,None
19,Veterans Day,2021-11-11 00:00:00,Thursday,None
20,Thanksgiving Day,2021-11-25 00:00:00,Thursday,None
21,Christmas Day,2021-12-25 00:00:00,Saturday,None
22,New Year Day,2022-01-01 00:00:00,Saturday,None
23,Serbian Christmas,2022-01-07 00:00:00,Friday,None
24,Martin Luther King Junior Day,2022-01-17 00:00:00,Monday,None
25,President's Day,2022-02-21 00:00:00,Monday,None
26,Easter,2022-04-17 00:00:00,Sunday,None
27,Memorial Day,2022-05-30 00:00:00,Monday,None
28,Independence Day,2022-07-04 00:00:00,Monday,None
29,Labor Day,2022-09-05 00:00:00,Monday,None
30,Veterans Day,2022-11-11 00:00:00,Friday,None
31,Thanksgiving Day,2022-11-24 00:00:00,Thursday,None
32,Christmas Day,2022-12-25 00:00:00,Sunday,None

In [17]:
cell_range = CellRange.from_string(worksheet, 'L17:N32')
# cell_range = CellRange.from_string(worksheet, 'L17')

In [20]:
cell_range.create_df(expand_range=False, has_headers=True)

                          Holiday Target Date   Weekday
18                      Labor Day  2021-09-06    Monday
19                   Veterans Day  2021-11-11  Thursday
20               Thanksgiving Day  2021-11-25  Thursday
21                  Christmas Day  2021-12-25  Saturday
22                   New Year Day  2022-01-01  Saturday
23              Serbian Christmas  2022-01-07    Friday
24  Martin Luther King Junior Day  2022-01-17    Monday
25                President's Day  2022-02-21    Monday
26                         Easter  2022-04-17    Sunday
27                   Memorial Day  2022-05-30    Monday
28               Independence Day  2022-07-04    Monday
29                      Labor Day  2022-09-05    Monday
30                   Veterans Day  2022-11-11    Friday
31               Thanksgiving Day  2022-11-24  Thursday
32                  Christmas Day  2022-12-25    Sunday

In [21]:
workbook.close()

In [53]:
worksheet = workbook['Sheet1']

header_range = CellRange(
    worksheet=worksheet,
    start_row=worksheet.min_row,
    start_column=worksheet.min_column,
    end_row=worksheet.min_row,
    end_column=worksheet.max_column,
)

In [54]:
column_names = [cell.column_letter for cell in header_range.cells[0]]
column_names

['L', 'M', 'N', 'O']

In [55]:
index = np.arange(worksheet.min_row, worksheet.max_row + 1)
index

array([15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,
       32])

In [ ]:
data_range = CellRange(
    worksheet=worksheet,
    start_row=worksheet.min_row,
    start_column=worksheet.min_column,
    end_row=worksheet.max_row,
    end_column=worksheet.max_column,
)

In [30]:
with load_workbook(r'.\workbooks\merge_example.xlsx') as workbook:
    cell_range = CellRange.from_string(workbook, '')

ValueError:  must contain the sheetname when the parent is a Workbook

In [28]:
with load_workbook(r'.\workbooks\merge_example.xlsx') as workbook:
    cell_range = CellRange.from_string(workbook, 'Sheet1!$L$15:$O$32')
    
    for row in cell_range.values:
        print(row)

('Random List of Holidays - Test Read of Merged Cells', None, None, None)
(None, None, None, None)
('Holiday', 'Target Date', 'Weekday', None)
('Labor Day', datetime.datetime(2021, 9, 6, 0, 0), 'Monday', None)
('Veterans Day', datetime.datetime(2021, 11, 11, 0, 0), 'Thursday', None)
('Thanksgiving Day', datetime.datetime(2021, 11, 25, 0, 0), 'Thursday', None)
('Christmas Day', datetime.datetime(2021, 12, 25, 0, 0), 'Saturday', None)
('New Year Day', datetime.datetime(2022, 1, 1, 0, 0), 'Saturday', None)
('Serbian Christmas', datetime.datetime(2022, 1, 7, 0, 0), 'Friday', None)
('Martin Luther King Junior Day', datetime.datetime(2022, 1, 17, 0, 0), 'Monday', None)
("President's Day", datetime.datetime(2022, 2, 21, 0, 0), 'Monday', None)
('Easter', datetime.datetime(2022, 4, 17, 0, 0), 'Sunday', None)
('Memorial Day', datetime.datetime(2022, 5, 30, 0, 0), 'Monday', None)
('Independence Day', datetime.datetime(2022, 7, 4, 0, 0), 'Monday', None)
('Labor Day', datetime.datetime(2022, 9, 5, 0, 0), 'Monday', None)
('Veterans Day', datetime.datetime(2022, 11, 11, 0, 0), 'Friday', None)
('Thanksgiving Day', datetime.datetime(2022, 11, 24, 0, 0), 'Thursday', None)
('Christmas Day', datetime.datetime(2022, 12, 25, 0, 0), 'Sunday', None)

In [8]:
worksheet = workbook['500000 Sales Records']

In [9]:
cell_range = CellRange.from_string(worksheet, "A1")

In [10]:
cell_range.create_df(expand_range=True)

                              Region           Country        Item Type  ... Total Revenue  Total Cost Total Profit
0                 Sub-Saharan Africa      South Africa           Fruits  ...      14862.69    11023.56      3839.13
1       Middle East and North Africa           Morocco          Clothes  ...     503890.08   165258.24    338631.84
2              Australia and Oceania  Papua New Guinea             Meat  ...     151880.40   131288.40     20592.00
3                 Sub-Saharan Africa          Djibouti          Clothes  ...      61415.36    20142.08     41273.28
4                             Europe          Slovakia        Beverages  ...     188518.85   126301.67     62217.18
...                              ...               ...              ...  ...           ...         ...          ...
499995                          Asia           Myanmar           Fruits  ...       1679.40     1245.60       433.80
499996         Australia and Oceania       New Zealand  Office Supplies  ...    4614474.06  3719866.56    894607.50
499997                        Europe         Lithuania           Snacks  ...     664333.32   424253.76    240079.56
499998                          Asia          Malaysia        Beverages  ...     405792.40   271868.08    133924.32
499999                        Europe          Slovakia        Household  ...    5531270.79  4159523.58   1371747.21

[500000 rows x 14 columns]

In [6]:
workbook.close()